<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ACME Product Information Management</title>

        <link href="css/jsoneditor.css" rel="stylesheet" type="text/css">
        <link href="css/darkmode.css" rel="stylesheet" type="text/css">
        <link href="css/main.css" rel="stylesheet" type="text/css">

        <script src="js/jsoneditor.js" type="application/javascript"></script>
        <script src="js/main.js" type="application/javascript"></script>
    </head>
    <body>
        <div id="notify" class="green">
            No new notifications!
        </div>
        <div class="panel">
            <div class="margin-left">
                <div class="dropdown-menu">
                    <button class="no-margin-left">Open</button>
                    <ul>
                        <li><button id="openProduct">Product</button></li>
                        <li><button id="openStock">Stock</button></li>
                    </ul>
                </div>
                <div class="dropdown-menu single">
                    <button id="save">Save</button>
                </div>
            </div>
            <div class="margin-right">
                <h1><span id="titlePrefix"></span>ACME Product Information Management</h1>
            </div>
        </div>
        <div id="jsoneditor"></div>
    </body>
</html>
